<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
      body
      {
        display: flex;
        flex-direction: column;
        gap: 30PX;
        align-items: center;

      }
            table {
              border-collapse: collapse;
              text-align: center;
              display: flex;
              justify-content: center;
            }
        
            td,
            th {
              border: 1px solid black;
              padding: 15px;
            }

            div{
              display: flex;
              gap: 50px;
              justify-content: center;
              align-items: center ;
              margin: 20px 0;
               }

            button
            {
              width: 200px;
              height: 50px;
            }
            
            a{
              font-size: 20PX;
              text-decoration: none;
            }
           
            p
            {
              font-size: 20PX;
            }
          </style>
</head>
<body>
  <h1>Ayush Mehta (24DEV067)</h1>

  <section>
    <button><a href="/task7/insert">Insert Query</a> </button>
  </section>

  <div class="sodho">
  <label for="sodho">Search Data:</label>
  <input type="text" id="searchInput" name="sodho" placeholder="search">
  </div>

  <div>
    <form action="/task7/display/1/<%=boom%>/<%=type%>" method="post">
      <% if(current > 1) { %> <button type="submit">&lt&lt</button><% } %>
      <input type="hidden" name="query" value="<%=sql%>">
      <input type="hidden" name="tp" value="<%=totalPages%>">
    </form>

    <form action="/task7/display/<%= current-1%>/<%=boom%>/<%=type%>" method="post">
      <% if(current > 1) { %> <button type="submit">&lt</button><% } %>
      <input type="hidden" name="query" value="<%=sql%>">
      <input type="hidden" name="tp" value="<%=totalPages%>">
    </form>

    <p id = "val"><%= current %></p>

    <form action="/task7/display/<%= totalPages - (totalPages - current - 1)%>/<%=boom%>/<%=type%>" method="post">
      <% if(current < totalPages) { %> <button type="submit">&gt</button><% } %>
      <input type="hidden" name="query" value="<%=sql%>">
      <input type="hidden" name="tp" value="<%=totalPages%>">
    </form>

    <form action="/task7/display/<%=totalPages%>/<%=boom%>/<%=type%>" method="post">
      <% if(current < totalPages) { %> <button type="submit">&gt&gt</button><% } %>
      <input type="hidden" name="query" value="<%=sql%>">
      <input type="hidden" name="tp" value="<%=totalPages%>">
    </form>

  </div>
  
  
    <% var z = [];  %>

    <table id="dataTable">
        <tr>
        <% for(let i=0; i<fields.length  ; i++) {%>
                <td>   <strong style="font-size: 20px;"><%= fields[i].name%></strong>    </td>
                <% z[i] = fields[i].name; %>
        <% } %>
        </tr>
        <% for(let i=0; i<result.length  ; i++) {%>
       <tr>
        <% for(let j=0; j<fields.length  ; j++) {%> 
                <td><%= result[i][z[j]]%></td>      
        <% } %>
    </tr>
        <% } %>
    </table>

    <script>
      function searchTable() {
        
        let input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("dataTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td");
          for (let j = 0; j < td.length; j++) {
            let cell = td[j];
            if (cell) {
              txtValue = cell.textContent || cell.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[0].style.display = "";
                tr[i].style.display = "";
                break;
              } else {
                tr[0].style.display = "";
                tr[i].style.display = "none";
              }
            }
          }
        }
      }
      document
        .getElementById("searchInput")
        .addEventListener("input", searchTable);
    </script>
</body>
</html>