<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>

      .select{
        margin-left:  43%;
        margin-bottom: 50px;
      }
      section {
       margin-left: 41.5%;
       margin-bottom: 20px;
        display: flex;
        gap: 50px;
      }

        h1{
            text-align: center;
            color: green;
        }

        table{
            border-collapse: collapse;
            text-align: center;
            display: flex;
            justify-content: center;
        }

        td,th{
            border: 1px solid black;
            padding: 15px;
        }
    </style>
</head>
<body>
  <div class="select">
    <h2>Name : Ayush Mehta    ID : 24DEV067</h2>
    <label for="month1">Choose a Month:</label>

<select name="month1" id="month1" onchange="selectMonth(value)" >
    <option  value="1">January</option>
    <option  value="2">February</option>

  <option  value="12">December</option>
</select>
</div>

<section>
    <% if(current > 1) { %> <button><a href="/task6/display/?month=<%=month%>&page=1">&lt&lt</a> </button><% } %>
    <% if(current > 1) { %> <button><a href="/task6/display/?month=<%=month%>&page=<%= current-1%>%>">&lt</a> </button> <% } %>
    <p id = "val"><%= current %></p>
    <% if(current < 10) { %> <button><a href="/task6/display/?month=<%=month%>&page=<%= 10 - (10 - current - 1)%>%>">&gt</a> </button><% } %>
    <% if(current < 10) { %> <button><a href="/task6/display/?month=<%=month%>&page=10&%>">&gt&gt</a> </button><% } %>
  </section>

    <table>
        <tr>
            <td>Id</td>
            <td>Student Name</td>
            <td>Attendence</td>
            <td>Percentage</td>
            <td></td>
        </tr>

        <% for(var i=0; i<data.length   ; i++) {%>
            <tr>
                <td>
                    <%= data[i].sid%>
                  </td>
                  <td>
                    <%= data[i].fname%>
                  </td>
                  <td>
                    <%= data[i].att%>
                  </td>
                  <td>
                    <%= parseFloat((data[i].att * 100)/day).toFixed(2)%>
                  </td>
                  <td></td>
            </tr>
         <% } %>
    </table>

    <script>

        const mon = document.querySelector("#month1");
        mon.value = <%= month %>;
        
        function selectMonth(value)
        {           
            window.location.href ='/task6/display/?page=1&month='+value;
        }
    </script>
</body>
</html>